.book {
  height: 400px;
  width: 50px;
  background-color: red;
}

form {
  display: grid;
  grid-template-columns: 100px 100px;
}

.formWindow {
  background-color: lightblue;
  height: 400px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  position: absolute;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 100px;
}

button {
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

#bookshelf {
  background-color: #a16207;
  width: 1400px;
  height: 800px;
  display: grid;
}

.container {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Apply blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}
